
#Encabezado{
  background-color: black;
}

.galeria-titulo{
  color: white;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 0%;
}

.container-xxl{
  padding: 10%;
}

.col-sm-12{
  width: 90%;
  margin: auto;
}

h2{
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}

p{
  font-family: 'Archivo', sans-serif;
}

.h5{
  font-family: 'Garamond', serif;
}

.textogaleria{
  font-family: 'EB Garamond', serif;
}

.background-green{
  background-color: #066851;
  color: #FFFFFF;
}

.background-black{
  background-color: #000000;
  color: #000000;
}

.carousel-caption  {
  margin-top: 5%;
  display: flex;
  position: relative;
  left: auto;
  right: auto;
}

.cms-4 me-4 ps-4 pe-4 pb-4 mt-4{
  margin-top: 5%;
  display: flex;
  position: relative;
  left: auto;
  right: auto;
}

.entradas{
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  padding-bottom: 15px;
}

.mb-1{
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
}

.btn{
  background-color: #FA5C36;
  font-weight: bold;
}

.curadora{
  align-content: center;
  padding: 200px 50px;
  display: flex;
  flex-wrap: wrap;

}

.flex-text{
  width: 400px;
  vertical-align: middle;
  padding-left: 25px;
}

.pregunta{
  font-family: 'Archivo', sans-serif;
  color: #FA5C36;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}

.parrafo_curadora{
  padding-top: 15px;
  padding-bottom: 15px;
}
